<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vbfc_bry07.calls">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".Activity.MCPActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".Activity.ACPActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.CycleCalendarActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.SignatureFormActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".Activity.DoctorsInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.MaterialMonitoringActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.SalesReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.StatusSummaryActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
